.main
  %h1.center.add-bottom-space LOG IN
  =form_for :session, html: {class: "form-horizontal",role:"form"} ,url: login_path do |f|
    .form-group
      .control-label.col-sm-2
        =f.label :email
      .col-sm-8
        =f.email_field :email, class: "form-control",placeholder: "Enter your email", autofocus: true
    .form-group
      .control-label.col-sm-2
        =f.label :password
      .col-sm-8
        =f.password_field :password, rows: "1", class: "form-control",placeholder: "Enter your password", autocomplete:"off"
    .form-group
      .col-sm-offset-2.col-sm-10
        =f.submit("LOG IN", class:"btn btn-primary btn-lg")