=render 'shared/errors', obj: @article

.row
  .col-xs-12
    =form_for @article, html: {class: "form-horizontal",role:"form"} do |f|
      .form-group
        .control-label.col-sm-2
          =f.label :title
        .col-sm-8
          =f.text_field :title, class: "form-control",placeholder: "Title of Article", autofocus: true
      .form-group
        .control-label.col-sm-2
          =f.label :description
        .col-sm-8
          =f.text_area :description, rows: "10", class: "form-control",placeholder: "Body of Article", autofocus: true
      .form-group
        .col-sm-offset-2.col-sm-10
          =f.submit class:"btn btn-primary btn-lg"