.main
  %h1.add-border-bottom List of Artcles
  =render 'article',obj:@articles






  / .info=link_to "Create new",new_article_path
  / .panel.panel-default
  /   .panel-heading Articles
  /   %table.table
  /     %tr
  /       %th.add-bold Title
  /       %th.add-bold Description
  /     -@articles.each do |article|
  /       %tr
  /         %td= article.title
  /         %td= article.description.truncate(60)
  /         %td=link_to 'Edit',edit_article_path(article)
  /         %td=link_to 'Show',article_path(article)
  /         %td=link_to 'Delete',article_path(article),method: :delete,data: {confirm: "Are you sure?"}




