.main
  %h1.add-border-bottom Create an article
  .error
    -if @article.errors.any?
      %p.add-bold The following errors prevented the article from getting created.
      %ul
      -@article.errors.full_messages.each do |msg|
        %li=msg
  =form_for @article do |f|
    %p=f.label :title
    =f.text_field :title
    %p=f.label :description
    %p=f.text_area :description
    =f.submit "Create article"