

.add-right{
  margin-right: 10px;
}

.title{
  padding-top: 10px;
  padding-bottom:5px;
}

// .description{
//   margin-bottom:40px;
//   padding-bottom:200px;
// }

.show {
  margin-top:20px;
  padding: 20px;
  width: 60%;
  margin-left: 20%;
  border:5px solid #dfe4ea;
}

.description-style{
  font-size:1.2em;
  line-height: 1.5em;
  padding-bottom:50px;
}

#add-space{
  padding-bottom: 30px;
}

.subtitle{
  font-weight:bold;
  font-size:1.6em;
  padding-bottom:10px;
}

.article-title{
  font-weight:bold;
  font-size:1.5em;
  padding-bottom:5px;
}








