a{
  text-decoration: none;
  color:black;
}
a:hover{
  opacity: 0.5;
}
a:visited{
  color:black;
}

li{
  list-style: none;
}
strong{
  font-weight:bold;
}
table{
  border-collapse: separate;
  border-spacing: 10px;
}

.error{
  margin-top: 10px;
  margin-bottom: 10px;
}
.main{
  margin-top:20px;
  width: 70%;
  margin-left: 15%;
}


.add-border-bottom{
  border-bottom:2px solid #00d2d3;
}


.add-bold{
  font-weight: bold;
  padding-bottom: 5px;
}

.add-right{
  margin-right: 10px;
}

.title{
  padding-top: 10px;
  padding-bottom:5px;
}

.description{
  margin-bottom:40px;
}

