$theme-color:#0984e3;

li{
  list-style: none;
}


strong{
  font-weight:bold;
}
table{
  border-collapse: separate;
  border-spacing:10px;
}


// .changeBG{
//   background-color: $theme-color;
// }

.logo {
  font-size:1.7em;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


.info{
  font-size:20px;
  margin-bottom:20px;
}



.main{
  margin-top:20px;
  width: 70%;
  margin-left: 15%;
}


.add-border-bottom{
  border-bottom:2px solid #dfe4ea;
  padding-bottom:10px;
  margin-bottom: 20px;
}


.add-bold{
  font-weight: bold;
  padding-bottom: 5px;
}

.font-white{
  color:white;
}

.add-form-space{
  padding-top:20px;
}

















//-------------------------------------//
$bgDefault      : #0984e3;
$bgHighlight    : #074778;
$colDefault     : #ffffff;
$colHighlight   : #ecdbff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}